.cell-icon {
  display: block;
  width: 70%;
  aspect-ratio: 1;

  &.cell-icon--circle {
    position: relative;

    .cell-icon__element {
      position: absolute;
      display: block;

      &.cell-icon__element--1 {
        width: 100%;
        height: 100%;
        background: red;
      }

      &.cell-icon__element--1 {
        width: 100%;
        height: 100%;
        background: red;
      }
    }
  }

  &.cell-icon--cross {
    position: relative;

    .cell-icon__element {
      display: block;
      width: 100%;
      height: 8px;
      position: absolute;
      top: 50%;
      left: 0;
      border-radius: 16px;

      &.cell-icon__element--1 {
        transform: translateY(-50%) rotate(45deg);

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          transform-origin: left;
          border-radius: 16px;
          background: #ffffff;
          animation: scaleUp1 0.25s ease-out;
          animation-fill-mode: forwards;
        }
      }

      &.cell-icon__element--2 {
        transform: translateY(-50%) rotate(-45deg);

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          opacity: 0;
          transform-origin: left;
          border-radius: 16px;
          background: antiquewhite;
          animation: scaleUp1 0.25s 0.25s ease-out;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

@keyframes scaleUp1 {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
